.vscode/**
.vscode-test/**
.git/**
.github/**
.agent/**
agent_plan/**
docs/**
node_modules/**
**/*.vsix
demo.gif
.vscode-test.mjs
package-lock.json
.DS_Store
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
